

body{background:#CBD6ED; font-size:12px; color:#FFFFFF; font-family: Georgia, "Times New Roman", serif;}
#page{width: 70%; background-color:#476BC0;margin: auto;}
#heading{font-size: 16px; font-weight: bolder; margin-left: 35px;}
#error{color: red;}
b{margin-left: 35px;}